

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #00688B ;
}


a
 {
	margin-left: -3px;
	padding: 12px 20px;
	outline: none;
	border: 1px solid #121212;
	border-right: none;
	background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.34) 100%) repeat scroll 0 0 transparent;
	box-shadow: 0 2px 3px rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
	color: #777777;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 -1px #0F0F0F;
	font-size: 21px;
	line-height: 21px;
	cursor: pointer;
   
	}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

#menu {
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	background: rgba(0, 0, 0, 0.5);
	float: left;
	font-size: 1.5em;
	min-height: 100%;
	margin-left: 1em;
}

#menu li {
	position: relative;
	z-index: 1;
}

#menu li a {
	display: block;
	padding: 0.5em 1em;
	white-space: nowrap;
}

	#menu li ul {
		position: absolute;
		overflow: hidden;
		display: none;
		left: 100%;
		top: 0.5em;
		float: none;


	}
	#menu a{
				color: white;
	}
	
	#menu li:hover ul {
		display: block;
	}
	
	#menu li ul a {
		position: relative;
		font-size: 0.8em;
	}
	
	#menu li ul a:hover:before {
		content: "";
		display: block;
		width: 1em;
		height: 1em;
		color: black;
		background: rgba(0,0,0,0.5);
		border: 1px solid #FFF;
		position: absolute;
		top: 0.5em;
		left: -0.75em;

	}
	.header{

	color: #fff;
	font: 80px 'ChunkFiveRegular';
	        font-family: 'Lobster', helvetica, arial;
	}